body {
	background: url(../images/hav.jpeg) no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	padding-top: 5em;
	display: flex; 
	justify-content: center;
    text-align: center; 
    max-width: 100%;
    max-height: 100%;
}

h1 {
	color: navy;
	position: center;
}

.textarea {
	display: inline-block;
	padding: 2em;
	box-shadow: 0 0 1.5em;
	width: 35em;
	height: 25em;
	background-color: white;
	opacity: 0.8;
}
