---
---
$heading-font: 'Source Sans Pro', sans-serif;
$body-font: 'Nunito', sans-serif;
$heading-color: rgb(2,69,113);
/*$body-font: 'Barlow Semi Condensed', sans-serif;*/
$body-font-color: rgb(16,23,33);
$complementary-color: rgb(177,99,0);

body {
	background: url(../images/cloud.jpeg) no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	padding-top: 5em;
	justify-content: center;
    text-align: center; 
    height: 100%;
    width: 100%;
}

h1 {
	font-family: $heading-font;
	font-size: 5em;
	color: $heading-color;
	margin-top: 0;
	position: center;
}

h2 {
	font-family: $heading-font;
	font-size: 1.4em;
	color: $heading-color;
	margin-bottom: 0.3em;
}

span {
	display: flex;
	align-items: center;
	padding-left: 0.4em;
}

a {
	display: flex;
}

a:link {
	color: black;
	text-decoration: none;
}

a:visited {
	color: black;
}

.textarea {
	margin: auto;
	margin-top: 3em;
	width: 40em;
	height: 100vh;
	background: linear-gradient(rgba(0,0,0,0) 90%);
}

.text {
	width: 40em;
	font-family: $body-font;
	font-size: 1.1em;
	text-align: left;
	color: $body-font-color;
}

.mail {
	font-family: $body-font;
	font-size: 1.1em;
	width: 40em;
	text-align: left;
	&:hover {
		opacity: 0.6;
	}
}

/*input#mail {
	background: transparent url(../icons/mail.png) no-repeat;
	background-size: cover;
    border: none;
    height: 3em;
    width: 3em;
}*/

.github {
	padding-top: 0.5em;
	text-align: left;
	font-family: $body-font;
	font-size: 1.1em;
	&:hover {
		opacity: 0.6;
	}
}

.resumebox {
	width: 40em;
	height: 60em;
	background-color: rgba(256, 256, 256, .9);
	box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 25px rgba(0, 0, 0, 0.1) inset;
	margin: auto;
}

.resume {
	width: 40em;
	padding-top: 2em;
	padding-left: 4em;
	font-family: $body-font;
	font-size: 1.1em;
	text-align: left;
	color: $body-font-color;
}

/* Head font */
@font-face {
  font-family: 'BebasNeue';
  src: url('../fonts/BebasNeue.otf');
}