---
---
$heading-font: 'Source Sans Pro', sans-serif;
$body-font: 'Nunito', sans-serif;
$heading-color: rgb(2,69,113);
$body-font-color: rgb(16,23,33);
$complementary-color: rgb(177,99,0);

body {
	background: url(../images/cloud.jpeg) no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	padding-top: 5em;
	justify-content: center;
    text-align: center; 
    width:100%;
    height: 100%;
    overflow-x: hidden;
}

h1 {
	font-family: $heading-font;
	font-weight: normal;
	font-size: 5em;
	color: $heading-color;
	margin-top: 0;
}


span {
	display: flex;
	align-items: center;
	padding-left: 0.4em;
}

a {
	margin: 1em;
	display: flex;
	font-family: $body-font;
	font-size: 1.2em;
	text-align: center;
	transition: 0.3s;
}

a:hover {
	opacity: 0.5;
	transform: translateY(1px);
}

a:link {
	color: black;
	text-decoration: none;
}

a:visited {
	color: black;
}

footer {
	position: fixed;
	display: flex;
	justify-content: center;
	left: 0;
	bottom: 0;
	width: 100%;
}

#ref {
	font-size: 0.7em;
}

#ref:hover {
	opacity: 1;
	transform: none;
}

.textarea {
	margin: auto;
	padding-top: 3em;
	width: 50em;
	text-align: center;
}

.text {
	font-family: $body-font;
	font-weight: normal;
	font-size: 1.2em;
	text-align: center;
	color: $body-font-color;
}

.buttons {
	display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    margin-top: 1em;
	justify-content: center;
}

@media (max-width: 768px) {

	h1 {
		font-size: 9em;
	}

	.textarea {
		margin-top: 3%;
	}

	.text {
		margin: auto;
		width: 90%;
		font-size: 2em;
	}

	.buttons {
		display: inline-block;
	}

	a {
		margin-top: 5%;
	}

	img {
		width: 100%;
		height: 100%;
	}

	span {
		font-size: 1.8em;
	}

	#github-icon {
		width: 50%;
	}

	#github {
		margin-left: 1%;
	}

	#ref {
		font-size: 1.3em;
	}
}
